spack:
  include:
  - packages.yaml
  - config.yaml
  config:
    deprecated: {{ config.deprecated }}
  concretizer:
    unify: {{ config.unify }}
    reuse: false
    duplicates:
      strategy: {{ config.duplicates.strategy }}
  specs:
{% for spec in config.specs %}
  - '{{ spec }}'
{% endfor %}
{% if config.prefer or config.variants or config.mpi %}
  packages:
{% if config.prefer or config.variants %}
    all:
    {% if config.prefer %}
{% set separator = joiner(', ') %}
      prefer: [{% for c in config.prefer %}{{ separator() }}'{{ c }}'{% endfor %}]
    {% endif %}
    {% if config.variants %}
{% set separator = joiner(', ') %}
      variants: [{% for v in config.variants %}{{ separator() }}'{{ v }}'{% endfor %}]
    {% endif %}
{% endif %}
    {% if config.mpi %}
    mpi:
      require: '{{ config.mpi }}'
    {% endif %}
{% endif %}
{% if config.views %}
  view:
{% for view in config.views %}
    {{ view.name }}:
      {{ view.config|py2yaml(6) }}
{% endfor %}
{% else %}
  view: false
{% endif %}
