full-env:
  compiler:
  - toolchain: gcc
    spec: gcc@11
  - toolchain: gcc
    spec: gcc@12
  unify: when_possible
  specs:
  - osu-micro-benchmarks@5.9
  - hdf5 +mpi
  mpi:
    spec: cray-mpich
    gpu: cuda
  packages:
  - perl
  - git
  variants:
  - +mpi
  - +cuda
  views:
    default:
defaults-env:
  compiler:
  - toolchain: gcc
    spec: gcc@11
  specs:
  - tree
  # assert variants=[]
  # assert unify=True
  # assert mpi=None
  # assert packages=[]
  # assert view=True
defaults-env-mpi-nogpu:
  compiler:
  - toolchain: gcc
    spec: gcc@11
  specs:
  - tree
  mpi:
    spec: cray-mpich
