spack:
  include:
  - packages.yaml
  - config.yaml
{% if config.requires %}
  - compilers.yaml
{% endif %}
  specs:
{% for spec in config.specs %}
  - {{ spec }}
{% endfor %}
  view: false
  concretizer:
    unify: true
  packages:
{% for target, variant in config.variants.items() %}
    {{ target }}:
      variants: {{ variant }}
{% endfor %}
