name: lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: 3.12
    - name: Install uv
      uses: astral-sh/setup-uv@v6
    - run: uvx ruff format --check
    - run: uvx ruff check
