name: Stackinator CI

on: [push, pull_request]

jobs:
  unittestpy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: 3.12
    - name: Install uv
      uses: astral-sh/setup-uv@v6
    - name: Validate Schemas
      run: |
        errors=0
        for schema in `find stackinator/schema -type f -name "*.json"`; do
          echo $schema
          uvx check-jsonschema --check-metaschema $schema
          errors=$(($errors + $?))
        done
        exit $errors
    - name: Install Dependencies
      run: uv sync --group dev
    - name: Run Unit Tests
      run: uv run pytest
