name: Deploy and Publish Stackinator to PyPI

on:
  release:
    types: [prereleased, released]

jobs:
  publish:
    if: github.repository == 'eth-cscs/stackinator'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - name: Generate dist packages
        run: |
          python -m pip install --upgrade pip setuptools build
          python -m build
      - name: Publish Stackinator to PyPI
        run: uv publish
        env:
          UV_PUBLISH_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
